img {
   width: 500px;
   height: 300px;
}

.col-md-6 {
   text-align: center;
}

h2 {
   padding-top: 20px;
   padding-bottom: 20px;
}

.mb-3 {
   padding-top: 5px !important;
   padding-bottom: 0px !important;
}
